@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'poor richard';
    src: url('font/poor-richard/PoorRichardOpti.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Poly:ital@0;1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: poppins;
    background-color: #FFF0DB;
}


/* navbar */

.background {
    position: relative; 
    padding-bottom: 800px;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("photo/FOTO KOPI.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1; 
}

.navbar-kopium {
    position: sticky;   
    top: 0;             
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #533914;
    padding: 15px 45px;
}

.sticky-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    transition: 0.3s;
}


.navbar-kopium img {    
    width: 100px;
    height: auto;
}

.nav {
    display: flex;
    gap: 40px; 
}

.nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #FFF0DB;
    font-size: 1.3rem;
    font-weight: 800;
    font-family: poppins;
    text-align: center;
    padding: 10px 0;    
}
.nav-link:hover {
    color: #ffb042;
    transition: 0.4s ease;
}


.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: translateX(-50%) scaleX(0); 
    transition: transform 0.3s ease;
}

.nav-link:hover::after {
    transform: translateX(-50%) scaleX(1);
}

/* Home */

.home-kopium {
    margin-top: 200px;
    display: grid;
    justify-content: center;
    text-align: center;
    z-index: -20;
}

.home h2 {
    font-family: 'poor richard',serif;
    font-size: 3.5rem;
    font-weight: 800;
    padding-bottom: 40px;
}

.home h3 {
    font-family: 'poor richard',serif;
    max-width: 400px;
    font-weight: 200;
    padding-bottom: 20px;
}

.btn {
    display: inline-block;
    border: none;
    margin: auto;
    background-color: #7d6038;
    border-radius: 35px;
    color: white;
    cursor: pointer;
    padding: 12px 40px;
}

.btn h1 {
    font-weight: 400;
    font-size: 24px;
}

.btn:hover{
    background-color: #312616;
    transition: 0.5s ease-in;
}

/* story */

.story {
    min-height: 100vh;
    margin-left:  50px ;
    margin-right: 50px;
    margin-top: 220px;
    margin-bottom: px;
    font-family: 'Poor Richard', serif;
}

.story-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 85px;
}

/* kiri kanan */
.content-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 250px;
}
.content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.quote1 {
    width: 545px;
    height: 135px;
}

.quote2 {
    width: 545px;
    height: 135px;
}

.quote1 p, .quote2 p {
    font-family: 'Poor Richard', serif;
    font-size: 36px;
    font-weight: 400;
    color: #000000;
    line-height: 1.3;
}

.content-left img {
    width: 613px;
    height: 420px;
    object-fit: cover;
    margin-top: 112px;
}

.content-right img {
    width: 613px;
    height: 420px;
    object-fit: cover;
    margin-bottom: 100px;
}

/* tentang kopium */

.tentang-kopium {
    display: flex;
    justify-content: center;
    gap: 75px; /* Jarak antara teks & video */
    background-color: #F0BB79;
}

/* Bagian teks */
.tentang {
    padding-top: 100px;
    padding-bottom: 100px;
}

.tentang h2 {
    font-weight: 800;
    font-size: 2.3rem;
    padding-bottom: 30px;
}

.tentang p {
    font-family: 'poly', serif;
    font-weight: 400;
    width: 676px;
    height: 253px;
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
}

.tentang button {
    background-color: #544226;
    padding: 20px;
    border: none;
    border-radius: 8px;
    color: wheat;
    cursor: pointer;
}

.tentang button:hover {
    transition: 0.5s ease-in;
    background-color: #312616;
}


.videow iframe {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* testimoni */

.border-testi {
    background-color: #533914;
    border-radius: 20px;
    margin-right: 100px;
    margin-left: 100px;
    color: white;
}

.border-testi h2 {
    padding-top: 30px;
}

.testimoni-kopium {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin: 50px auto;
    font-family: poppins;
    font-size: 2rem;
}

.test {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: poppins;
    gap: 250px;
    padding-bottom: 60px;
}

.testimoni1 p {
    max-width: 450px;
}

.testimoni2 p {
    max-width: 400px;
}

.testimoni3 p {
    max-width: 400px;
}

/* mwnu */

/* Styling Slider */

.backgroundds {
    background-color: #F0BB78;
    font-family: poppins;
}

.kopium-slider {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 300px;
    margin: 40px auto;
}

.swiper-slide {
    /* Atur ukuran default slide */
    width: 300px;
    height: 300px;

    /* INI KUNCINYA: Bikin pudar & kecil */
    opacity: 0.4;
    transform: scale(0.8);
    transition: transform 0.4s ease, opacity 0.4s ease;

    /* (Biar gambarnya pas) */
    background-position: center;
    background-size: cover;
}

.swiper-slide-active {
    /* INI KUNCINYA: Bikin yang tengah jadi jelas & besar */
    opacity: 1;
    transform: scale(3);
}

/* Styling Teks Deskripsi */
.kopium-deskripsi {
    text-align: center;
    padding: 50px;
}

.deskripsi-teks {
    display: none; /* Sembunyikan semua teks by default */
    font-size: 2rem;
}

.deskripsi-teks.active {
    display: block; /* Tampilkan HANYA teks yang aktif */
}

/* footer */

.footer-kopium {
    font-family: poppins;
    background-color: #000000;
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
}


.footer{
    display: flex;
    justify-content: center;
    gap: 500px;
}

.footer img{
    width: 200px;
    height: auto;
}

.lokasi {
    display: flex;
    padding-bottom: 30px    ;
}

.lokasi img {
    width: 35px;
    height: auto;
    padding-right: 20px;
}


.lokasi2 {
    display: flex;
    
}

.lokasi h2 {
    font-size: 1rem;
}

.lokasi2 h2 {
    font-size: 1rem;
}

.lokasi2 img {
    width: 35px;
    height: auto;
    padding-right: 20px;
}

.flex-footer {
    display: flex;
    gap: 120px;
}

.flex-footer img {
    width: 35px;
    height: auto;
}

.contact1 a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding-left: 20px;
}

.contact1  h2 {
    padding-bottom: 20px;
}

.c2 {
    padding-bottom: 30px;
}

.c3 {
    padding-bottom: 30px;
}

.c4 {
    padding-bottom: 30px;
}

.support h3 {
    font-weight: 800;
}

.support h2 {
    font-weight: 500;
    padding-top: 28px;
    padding-bottom: 30px;
}

.critic h3 {
    font-weight: 800;
}

.critic h2 {
    font-weight: 500;
    padding-top: 28px;
    padding-bottom: 30px;
}

.pooters {
    color: white;
}

.pooters {
    margin-top: 30px;
    padding-left: 150px;
}
